@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
    background-color: rgb(216,217,218);
}

h1 {
	font-size: 250%;
	font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
}

section + section {
	margin-top: 20px;
}

section {
	border: rgba(153,153,153,1.0) solid 1px;
}

.product-picture {
    float: left;
    height: 250px;
    margin-right: 10px;
    padding-top: 30px;
}

#each-review {
	border: none;
	border-bottom: rgba(0,0,0,.1) solid 2px;
}

#product-description {
	background-color: white;
}

#rating {
	font-size: 200%;
}

#comment-form {
	background-color: white;
}

#comment-score {
	text-align: center;
	font-size: 150%;
}

#current-comments {
	background-color: white;
	padding-top: 20px;
}

#current-comments h2 {
	margin-top: 0%;
}

.ng-binding {
	margin-bottom: 2px;	
}

.delete {
	color: rgb(238,68,68);
	font-size: 200%;
}

.delete:hover {
	color: black;
}

.upvote {
	color: rgba(137,198,36,0.8);
	padding-left: 3px;
}

.upvote:hover {
	color: rgb(137,198,36);
}

.downvote {
	color: rgba(238,68,68,0.8);
}

.downvote:hover {
	color: rgb(238,68,68);
}

.title {
	font-size: 200%;
	font-weight: bold;
}

.rating-name {
	font-weight: 125%;
	font-size: 125%;
}

.upvote, .downvote {
	font-size: 115%;
}

#message {
	color: red;
}

#no-comments {
	text-align: center;
	font-size: 175%;
	padding-bottom: 20px;
}

@media (max-width: 767px) {
	.product-picture {
		display: none;
	}
}

