@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
    /*background-color: gray;*/
}

main {
	/*background-color: rgba(0,0,0,0.7);*/
}

.product-picture {
    float: left;
    height: 130px;
    margin-right: 10px;
}

#rating {
	font-size: 200%;
}

#comment-form {
	/*background-color: rgba(255,255,255,0.7);*/
}

#comment-score {
	text-align: center;
	font-size: 150%;
}

#current-comments h2 {
	margin-top: 0%;
}

.ng-binding {
	margin-bottom: 2px;	
}

#delete-comment {
	margin-top: 2%;
}

.delete {
	color: rgb(238,68,68);
}

.upvote {
	color: rgba(137,198,36,0.8);
	padding-left: 3px;
}

.upvote:hover {
	color: rgb(137,198,36);
}

.downvote {
	color: rgba(238,68,68,0.8);
}

.downvote:hover {
	color: rgb(238,68,68);
}