<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product Comments</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
        <link rel="stylesheet" href="css/main.css">
        <link rel="icon" href="img/favicon.png">
    </head>
    <body>

        <main class="container" ng-app="ProductReviewer" ng-controller="ReviewsController">
            <section class="col-xs-12" id="product-description">
                <img src="img/super-bass-o-matic-76.jpg" alt="product picture" class="product-picture">
                <h1>The Super Bass-o-Matic '76</h1>
                <p>How many times has this happened to you? You have a bass, and you're trying to find an exciting new way to prepare it for the dinner table. You could scale the bass, remove the bass' tail, head and bones, and serve the fish as you would any other fish dinner. But why bother, now that you can use Rovco's amazing new kitchen tool, the Super Bass-o-Matic '76. Yes, fish-eaters, the days of troublesome scaling, cutting and gutting are over, because Super Bass-o-Matic '76 is the tool that lets you use the bass with no fish waste, and without scaling, cutting or gutting. 

                Here's how it works: Catch a bass, remove the hook, and drop the bass - that's the whole bass - into the Super Bass-o-Matic '76. Now, adjust the control dial so that the bass is blended just the way you like it. Yes, it's that simple!

                We've got fish here, fast and easy and ready to pour, mmm-mmm! Super Bass-o-Matic '76 comes with ten interchangeable rotors, a nine-month guarantee, and a booklet: 1,001 Ways to Harness Bass. Super Bass-o-Matic '76 works great on sunfish, perch, sole, and other xsall aquatic creatures.

                Super Bass-o-Matic '76 - it's clean, simple, and after five or ten fish, it gets to be quite a rush! Super Bass-o-Matic '76 - you'll never have to scale, cut or gut again! </p>
            </section>

            <section class="col-xs-12" id="comment-form">
                <h2 class="col-xs-12">Add a Comment</h2>

                <form ng-submit="addReview(newReview)" class="form-horizontal col-xs-12 col-sm-offset-1">
                    <div class="form-group">
                        <label for="rating" class="col-xs-2 control-label">Rating</label>
                        <div class="col-sm-6 col-xs-12 field" id="rating">
                            <rating ng-model="newReview.rating" name="rating" max="max"></rating>
                        </div>
                        <div> 
                            <p id="message"></p>
                        </div>
                    </div>     

                    <div class="form-group">
                        <label for="name" class="col-xs-2 control-label">Name</label>
                        <div class="col-sm-6 col-xs-12 field">
                            <input class="form-control" type="text" name="name" placeholder="your name" ng-model="newReview.name">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="title" class="col-xs-2 control-label">Title</label>
                        <div class="col-sm-6 col-xs-12 field">
                            <input class="form-control" type="text" name="title" placeholder="title your comment" ng-model="newReview.title">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="comment" class="col-xs-2 control-label">Comment</label>
                        <div class="col-sm-6 col-xs-12 field">
                            <textarea class="form-control" name="comment" rows="3" placeholder="comment..." ng-model="newReview.body"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-8 text-right">
                            <button type="submit" class="btn btn-primary" ng-hide="inserting">Submit Comment!</button>
                            <img src="img/ajax-spinner.gif" alt="loading animation" ng-if="inserting"/>
                        </div>
                    </div>
                </form>
            </section>

            <section class="col-xs-12" id="current-comments">
                <h2 class="col-xs-2">Comments</h2>

                <p class="col-md-6 col-xs-12">
                    <button class="btn btn-primary" ng-click="refreshReviews()">Refresh</button>
                    <img src="img/ajax-spinner-sm.gif" alt="loading animation" ng-if="loading || updating"/>
                </p>

                <p class="col-xs-12" id="no-comments"></p>

                <section ng-repeat="review in reviews | orderBy : -score" class="col-xs-12" id="each-review">
                    <div class="col-xs-2" id="comment-score">
                        <a class="upvote" role="button" ng-click="upvote(review)">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <p>{{review.score}}</p>
                        <a class="downvote" role="button" ng-click="downvote(review)">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                    <div class="col-xs-8 whole-comment">
                        <div class="col-xs-12 title">
                            <p>{{review.title}}</p>
                        </div>
                        <div class="col-xs-12 rating-name">
                            <p>Rating: {{review.rating}} By: {{review.name}}</p>
                        </div>
                        <div class="col-xs-12 comment-body">
                            <p>{{review.body}}</p>
                        </div>
                    </div>
                    <div class="col-xs-2" id="delete-comment">
                        <a class="delete" role="button" ng-click="removeReview(review)">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </a>
                    </div>
                </section>
            </section>

        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>