<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product Comments</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
        <link rel="stylesheet" href="css/main.css">
        <link rel="icon" href="img/favicon.png">
    </head>
    <body>

        <main class="container" ng-app="ProductReviewer" ng-controller="ReviewsController">
            <section class="col-sm-12">
                <img src="img/super-bass-o-matic-76.jpg" alt="product picture" class="product-picture">
                <h1>The Super Bass-o-Matic '76</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cumque deserunt ullam repudiandae nisi corporis! Ipsum, ducimus commodi, itaque porro distinctio consequuntur! Autem doloremque numquam nemo ex nulla tempora quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nihil doloribus excepturi quisquam error possimus veritatis facere, commodi cumque ab atque dolore ducimus obcaecati ipsa, impedit! Consequuntur, eligendi iure cumque!</p>
            </section>

            <section class="col-sm-12" id="comment-form">
                <h2>Add a Comment</h2>
                <!--  
                put a form here for entering a new comment
                the user must select a rating, and enter a name, title, and comment body
                before the comment can be saved to the server
                for the rating selection, use the Angular Bootstrap Rating directive 
                http://angular-ui.github.io/bootstrap/#/rating
                their script file is included below
                -->
                <form ng-submit="addReview(newReview)" class="form-horizontal col-sm-8">
                    <div class="form-group">
                        <label for="rating" class="col-sm-2 control-label">Rating</label>
                        <div class="col-sm-10 field" id="rating">
                            <rating ng-model="newReview.rating" name="rating" max="max"></rating>
                        </div>
                    </div>     

                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10 field">
                            <input class="form-control" type="text" name="name" placeholder="your name" ng-model="newReview.name">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10 field">
                            <input class="form-control" type="text" name="title" placeholder="title your comment" ng-model="newReview.title">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="comment" class="col-sm-2 control-label">Comment</label>
                        <div class="col-sm-10 field">
                            <textarea class="form-control" name="comment" rows="3" placeholder="comment..." ng-model="newReview.body"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary" ng-disabled="inserting">Submit Comment!</button>
                            <img src="img/ajax-spinner.gif" alt="loading animation" ng-if="inserting"/>
                        </div>
                    </div>
                </form>
            </section>

            <section class="col-xs-12" id="current-comments">
                <h2 class="col-xs-2">Comments</h2>
                <!-- 
                display existing comments here
                each comment should also have UI allowing the user to vote up/down the comment
                as well as delete it
                 -->
                 <p class="col-md-6 col-xs-12">
                    <button class="btn btn-primary" ng-click="refreshReviews()">Refresh</button>
                    <img src="img/ajax-spinner-sm.gif" alt="loading animation" ng-if="loading || updating"/>
                 </p>

                 <section ng-repeat="review in reviews" class="col-xs-12">
                    <div class="col-xs-2" id="comment-score">
                        <a class="upvote" role="button">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                        <p>{{review.score}}</p>
                        <a class="downvote" role="button">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <p>Rating: {{review.rating}} Title: {{review.title}} Reviewer: {{review.name}} Comment: {{review.body}}</p>
                    </div>
                    <div class="col-xs-2" id="delete-comment">
                        <a class="delete" role="button">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </a>
                    </div>
                 </section>
            </section>

        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>